/*SEC 1*/
.ind-1-main-color {
    display: flex;
    background-color: var(--pink-bkg);
    margin-bottom: 96px;
}

.ind-1-main-title-wrp {
    width: 405px;
    height: 94;
    padding: 0 0 0 60px;
    display: flex;
    align-items: center;
}

/*SEC 2*/
.sales-list {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ind-2-sales {
    margin-bottom: 96px;
}

.ind-2-sales-item {
    height: 260px;
    width: 360px;
}

.ind-2-sales-item-women {
    background-image: url(img/sales-woman.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.ind-2-sales-item-men {
    background-image: url(img/sales-man.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.ind-2-sales-item-kids {
    background-image: url(img/sales-kids.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.ind-2-sales-item-whoes {
    margin-top: 30px;
    width: 100%;
    background-image: url(img/sales.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.ind-2-sales-text-p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.ind-2-sales-text-h {
    font-size: 24px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    color: var(--pink-color);
    text-transform: uppercase;
}



/*SEC 3*/
.ind-3-sales {
    width: 360px;
    margin-bottom: 60px;
}

.ind-3-img-item {
    position: relative;
    margin: 15 0;
    padding: 0 15;
}

.ind-3-inner {
    position: relative;
    display: flex;
}

.ind-3-inner:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: all 1s ease;
}

.ind-3-inner:hover:before {
    opacity: 1;
}

.ind-3-inner::before {
    content: "";
    background: rgba(0, 0, 0, .8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 1s ease;
}

.ind-3-add {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all 1s ease;
}

.ind-3-img-item:hover .ind-3-inner::before,
.ind-3-img-item:hover .ind-3-add {
    opacity: 1;
}

.add {
    border: none;
    background-color: transparent;
}

.ind-3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ind-3-H3 {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: var(--black-bkj);
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 12px;
}

.ind-3-text {
    margin-top: 12px;
    margin-bottom: 18px;
    text-align: left;
    color: #5D5D5D;
}

.ind-3-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.ind-3-button {
    display: flex;
    justify-content: center;
}


/*SEC 4*/
.ind-4-benefits-background {
    background-color: var(--black-bkj);
    padding-top: 104px;
    padding-bottom: 104px;
}

.ind-4-benefits {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ind-4-benefits-H5 {
    margin-top: 28px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

/*Планшет*/
@media (max-width: 375px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .img_man {
        display: none;
    }

    .ind-2-sales-item {
        margin-top: 30px;
    }

    .ind-1-main-title-wrp {
        width: 236px;
        height: 66;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .ind-2-sales-item-whoes {
        width: 343px;
    }

    .sales-list {
        display: block;
        margin-bottom: 32px;
    }

    .ind-4-benefits {
        width: 345px;
        display: block;
    }

    .ind-4-benefits-background {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .top40px {
        margin-top: 40px;
    }

    .ind-2-sales {
        width: 365px;
    }

    .ind-3-button {
        width: 375px;
    }

    .ind-2-sales-item {
        width: 359px;
    }
}